# Mod_Autoindex
<IfModule mod_autoindex.c>
  # ????????? ???????? ??????????? ?????
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # ???????? mod_rewrite
  RewriteEngine On


  # ???? ??? ????? ??? ????, ????????? ??/???
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  # ? ????????? ?????? ?????????????? ?? index.php
  RewriteRule . index.php

</IfModule>